body {
    font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #666666; 
    }
    
    body.menu-show {
      overflow: hidden;
      position: fixed;
      height: 100%;
      width: 100%;
    }

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #fc983c;
    }

    a:hover, a:focus {
        text-decoration: none;
        color: #fc983c;
        outline: none !important; 
    }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 400; }
    
.text-primary {
      color: #fc983c !important; }

      .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto; }
        @media (min-width: 576px) {
          .container {
            max-width: 540px; } }
        @media (min-width: 768px) {
          .container {
            max-width: 720px; } }
        @media (min-width: 992px) {
          .container {
            max-width: 960px; } }
        @media (min-width: 1200px) {
          .container {
            max-width: 1500px; } }      
    
/*  extensive navbar styling */

.main-navbar-light {
    background: transparent !important;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 3; }
    @media (max-width: 991.98px) {
      .main-navbar-light {
        background: #000000 !important;
        position: relative;
        top: 0; } }
    .main-navbar-light .navbar-logo {
      color: #fff; }
      .main-navbar-light .navbar-logo span {
        color: #f7b71d; }
      @media (max-width: 991.98px) {
        .main-navbar-light .navbar-logo {
          color: #fff; } }
    @media (max-width: 991.98px) {
      .main-navbar-light .navbar-nav {
        padding-bottom: 10px; } }
    .main-navbar-light .navbar-nav > .nav-item > .nav-link {
      font-size: 15px;
      padding-top: .9rem;
      padding-bottom: .9rem;
      padding-left: 20px;
      padding-right: 20px;
      color: #fff;
      font-weight: 400;
      opacity: 1 !important; }
      .main-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
        color: #f7b71d; }
      @media (max-width: 991.98px) {
        .main-navbar-light .navbar-nav > .nav-item > .nav-link {
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 0;
          color: #fff; } }
    .main-navbar-light .navbar-nav > .nav-item .dropdown-menu {
      border: none;
      background: #fff;
      -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
      -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
      box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41); }
    .main-navbar-light .navbar-nav > .nav-item.ftco-seperator {
      position: relative;
      margin-left: 20px;
      padding-left: 20px; }
      @media (max-width: 991.98px) {
        .main-navbar-light .navbar-nav > .nav-item.ftco-seperator {
          padding-left: 0;
          margin-left: 0; } }
      .main-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
        position: absolute;
        content: "";
        top: 10px;
        bottom: 10px;
        left: 0;
        width: 2px;
        background: rgba(255, 255, 255, 0.05); }
        @media (max-width: 991.98px) {
          .main-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
            display: none; } }
    .main-navbar-light .navbar-nav > .nav-item.cta > a {
      color: #fff;
      border: 1px solid #fc983c;
      padding-top: .5rem;
      padding-bottom: .5rem;
      padding-left: 18px;
      padding-right: 18px;
      margin-top: 4px;
      background: #fc983c;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px; }
      .main-navbar-light .navbar-nav > .nav-item.cta > a span {
        display: inline-block;
        color: #fff; }
      .main-navbar-light .navbar-nav > .nav-item.cta > a:hover {
        background: #fc983c;
        border: 1px solid #fc983c; }
    .main-navbar-light .navbar-nav > .nav-item.cta.cta-colored a {
      border: 1px solid #f7b71d;
      background: #f7b71d !important; }
    .main-navbar-light .navbar-nav > .nav-item.active > a {
      color: #f7b71d; }
    @media (max-width: 991.98px) {
      .main-navbar-light .navbar-nav > .nav-item.active > a {
        color: #fc983c; } }
    .main-navbar-light .navbar-toggler {
      border: none;
      color: rgba(255, 255, 255, 0.5) !important;
      cursor: pointer;
      padding-right: 0;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: .1em; }
      .main-navbar-light .navbar-toggler:hover, .main-navbar-light .navbar-toggler:focus {
        text-decoration: none;
        color: #fc983c;
        outline: none !important; }
    .main-navbar-light.scrolled {
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
      margin-top: -130px;
      background: #fff !important;
      -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }
      @media (max-width: 991.98px) {
        .main-navbar-light.scrolled .nav-item > .nav-link {
          padding-left: 0 !important;
          padding-right: 0 !important;
          padding-bottom: 0 !important; } }
      .main-navbar-light.scrolled .nav-item.active > a {
        color: #fc983c !important; }
      .main-navbar-light.scrolled .nav-item.cta > a {
        color: #fff !important;
        background: #fc983c;
        border: none !important;
        padding-top: 0.5rem !important;
        padding-bottom: .5rem !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        margin-top: 6px !important;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px; }
        .main-navbar-light.scrolled .nav-item.cta > a span {
          display: inline-block;
          color: #fff !important; }
      .main-navbar-light.scrolled .nav-item.cta.cta-colored span {
        border-color: #fc983c; }
      @media (max-width: 991.98px) {
        .main-navbar-light.scrolled .navbar-nav {
          background: none;
          border-radius: 0px;
          padding-left: 0rem !important;
          padding-right: 0rem !important; } }
      .main-navbar-light.scrolled .navbar-toggler {
        border: none;
        color: rgba(0, 0, 0, 0.5) !important;
        border-color: rgba(0, 0, 0, 0.5) !important;
        cursor: pointer;
        padding-right: 0;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: .1em; }
      .main-navbar-light.scrolled .nav-link {
        padding-top: 0.9rem !important;
        padding-bottom: 0.9rem !important;
        color: #000000 !important; }
        .main-navbar-light.scrolled .nav-link.active {
          color: #fc983c !important; }
      .main-navbar-light.scrolled.awake {
        margin-top: 0px;
        -webkit-transition: .3s all ease-out;
        -o-transition: .3s all ease-out;
        transition: .3s all ease-out; }
      .main-navbar-light.scrolled.sleep {
        -webkit-transition: .3s all ease-out;
        -o-transition: .3s all ease-out;
        transition: .3s all ease-out; }
      .main-navbar-light.scrolled .navbar-logo {
        color: #000000; }

        .hero-wrap {
            width: 100%;
            height: 937px;
            position: inherit;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center; }
            .hero-wrap .overlay {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              content: '';
              opacity: .4;
              background: #000000;
              height: 937px; }
            @media (max-width: 991.98px) {
              .hero-wrap {
                height: 1150px; }
                .hero-wrap .overlay {
                  height: 1150px; } }
            .hero-wrap.hero-wrap-2 {
              height: 700px !important;
              position: relative; }
              .hero-wrap.hero-wrap-2 .overlay {
                width: 100%;
                opacity: .05;
                height: 700px; }
              .hero-wrap.hero-wrap-2 .slider-text {
                height: 700px !important; }

                .slider-text {
                    height: 850px; }
                    @media (max-width: 991.98px) {
                      .slider-text {
                        height: 1150px; } }
                    .slider-text h1 {
                      font-size: 60px;
                      color: #fff;
                      line-height: 1.1;
                      font-weight: 200; }
                      .slider-text h1 span {
                        display: block; }
                    .slider-text .icon-wrap .icon {
                      width: 70px;
                      height: 70px;
                      background: #fc983c;
                      -webkit-border-radius: 50%;
                      -moz-border-radius: 50%;
                      -ms-border-radius: 50%;
                      border-radius: 50%; }
                      .slider-text .icon-wrap .icon span {
                        color: #fff; }
                    .slider-text .icon-wrap .heading-title {
                      position: relative; }
                      .slider-text .icon-wrap .heading-title:after {
                        position: absolute;
                        top: 50%;
                        left: -40px;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        content: '';
                        width: 30px;
                        height: 2px;
                        background: #fff; }
                      .slider-text .icon-wrap .heading-title span {
                        font-family: "Poppins", Arial, sans-serif;
                        color: #fff; }
                    .slider-text p {
                      line-height: 1.5;
                      color: white; }
                    .slider-text .breadcrumbs {
                      font-size: 14px;
                      margin-bottom: 20px;
                      z-index: 99;
                      text-transform: uppercase;
                      font-weight: 500; }
                      .slider-text .breadcrumbs span {
                        color: rgba(255, 255, 255, 0.7); }
                        .slider-text .breadcrumbs span i {
                          color: rgba(255, 255, 255, 0.5);
                          font-size: 13px; }
                        .slider-text .breadcrumbs span a {
                          color: rgba(255, 255, 255, 0.7); }
                          .slider-text .breadcrumbs span a:hover, .slider-text .breadcrumbs span a:focus {
                            color: #fc983c; }
                            .slider-text .breadcrumbs span a:hover i, .slider-text .breadcrumbs span a:focus i {
                              color: #fc983c; }
                    .slider-text .bread {
                      font-weight: 400 !important;
                      position: relative;
                      line-height: .8;
                      padding-left: 20px; }
                      .slider-text .bread:after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 5px;
                        height: 48px;
                        background: #fc983c;
                        content: ''; }
.request-form {
    background: #fff;
    padding: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 31px -21px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 10px 31px -21px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 10px 31px -21px rgba(0, 0, 0, 0.33); }
        .request-form h2 {
        color: #000000;
        font-size: 22px;
        font-weight: 600; }
.request-form p {
    color: rgba(0, 0, 0, 0.5); }
.request-form .form-group {
    position: relative;
    width: 100%;
    display: block; }
    .request-form .form-group .icon {
    position: absolute;
    top: 50% !important;
    right: 0;
    font-size: 16px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 1px solid red; }
    .request-form .form-group .icon span {
        color: rgba(0, 0, 0, 0.3) !important; }
    .request-form .form-group .select-wrap, .request-form .form-group .input-wrap {
    position: relative; }
    .request-form .form-group .select-wrap select, .request-form .form-group .input-wrap select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; }
    .request-form .form-group .btn {
    width: 100%;
    display: block !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
.request-form label.label {
    color: #000000;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600; }
.request-form .form-control {
    border: transparent !important;
    border: 1px solid rgba(0, 0, 0, 0.05) !important;
    height: 40px !important;
    background: transparent !important;
    color: rgba(0, 0, 0, 0.4) !important;
    font-size: 12px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
    .request-form .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.4); }
    .request-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.4); }
    .request-form .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.4); }
    .request-form .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.4); }
    .request-form .form-control:focus, .request-form .form-control:active {
    border-color: #fff; }
.request-form textarea.form-control {
    height: inherit !important; }
